@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem;
    gap: 22px;
}

.blue-text{
    color: #41B4BB;
}

h1{
    color: #FEFEFE;
}

html {
    margin: 0;
    padding: 0;
    background-color: #0A0A0C;
    font-family: "Source Code Pro", monospace;
    font-weight: 200;
    font-style: normal;
}