@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    gap: 22px;
}

.blue-text{
    color: #41B4BB;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #0A0A0C;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}